build/
testdbs/*
.gradle
config/application.properties
gradle/
local.properties
*.DS_STORE
*.DS_Store
*.idea/
*.iml
*.swp
__pycache__
dbs/*
gradle.properties
.java-version
.python-version
scripts/*.pyc
out/
lombok.config
